body{
    font-family: 'Sunflower', sans-serif;
}
h1{
    text-align: center;
}
a.btn-link{
    background-color: #a5a58d;
    color: #fff;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.btn-link:hover, a.btn-link:active {
    background-color: #f44336;
  }