<% layout('./layout/boilerplate') -%>
    <div class="col-6 offset-3">
        <form class="validated-form" action="/login" method="post" novalidate>
            <h1>Log In</h1>
            <div class="mb-3">
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" type="text" name="username" id="username" required>
                <div class="invalid-feedback">
                    Please enter your name.
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
                    required>
                <div class="invalid-feedback">
                    Please enter your email address.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password" required>
                <div class="invalid-feedback">
                    Please enter your password.
                </div>
            </div>
            <button class="btn btn-success">login</button>
        </form>
    </div>