<% layout('./layout/boilerplate') -%>
    <div class="col-6 offset-3">
        <h1>ADD New Product</h1>
        <form action="/products" method="POST">
            <div class="mb-3">
                <label for="name">Product Name</label>
                <input id="name" type="text" class="form-control" name="name" placeholder="product name">
            </div>
            <div class="mb-3">
                <label for="price">Product Price</label>
                <input id="price" type="number" class="form-control" name="price" placeholder="product price">
            </div>
            <div class="mb-3">
                <label for="qty">Quantity</label>
                <input id="qty" type="number" class="form-control" name="qty" placeholder="product qty">
            </div>
            <div class="mb-3">
                <label for="category">category</label>
            </div>
            <div class="mb-3">
                <select name="category" id="category" class="form-select form-select-lg mb-3 form-select-sm">
                    <% for(let category of categories) { %>
                        <option value="<%= category %>">
                            <%= category %>
                        </option>
                        <% } %>
                </select>
            </div>
            <button class="btn btn-info">Submit</button>
            <a class="btn btn-danger" href="/products">Cancel</a>
        </form>
    </div>